name: CI

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  pull_request:
    branches: [ "main" ]
    # paths-ignore: [ "docs/**" ]

  push:
    branches: [ "main" ]
    # paths-ignore: [ "docs/**" ]


jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Code Repository
        uses: actions/checkout@v4.1.0

      - name: Set up Python 3.7
        uses: actions/setup-python@v4.6.1
        with:
          python-version: 3.7

      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Lint with flake8
        run: flake8 --ignore=E501 --exclude=./migrations/

# With no caching at all the entire ci process takes 4m 30s to complete!
  pytest:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Code Repository
        uses: actions/checkout@v4.1.0
      - name: Build the Stack
        run:  docker-compose -f test.yml build

      # - name: Make DB Migrations
      #   run:  docker-compose -f test.yml run --rm flask cd task && flask db upgrade

      - name: Run the Stack
        run:  docker-compose -f test.yml up -d

      - name: Run Flask Tests
        run: docker-compose -f test.yml exec -T flask flask test

      - name: Tear down the Stack
        run:  docker-compose -f test.yml down